.principal {
    display: flex;
}
.sugestao {
    width: 20%;
    border-radius: 7px;
    margin-bottom: 3%;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.sugestao img {
    border-radius: 7px 7px 0 0;
}
.inner { 
    padding: 7%;
    text-align: center;
}

.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
    
}
.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
    text-align: center;
}
#aleatoria{
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}
#cat{
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.sugestao p{
    text-align: center;
}

.busca {
    display: flex;
    width: 100%;
    margin: auto;
}

.cards {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
border-radius: 7px;
margin: auto;
font-size: 1.2em;
padding: 2%;
margin-bottom: 3%;
line-height: 1.5em; 
}

.cards h3 {
font-weight: 700;
margin-bottom: 3%;
}

#buscar {
background-color: coral;
width: 90%;
float: left;
}

#form-busca {
background-color: hotpink;
padding: 1%;
}

.form-group input {
border-radius: 5px;
margin: 1%;
padding-left: 1%;
line-height: 1.5em; 
}

.form-group label {
    font-weight: 400;
    }

#nome{
    width: 30%;
}

#ingred{
    width: 21%;
}

.form-group select {
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0.7%;
    padding: 3px;
    width: 23%;
    }

#b-aleatoria{
    border-radius: 5px;
    margin: 0.4%;
    padding: 2px;
    width: 20%;
}

#resultado {
    background-color:greenyellow;
    width: 90%;
    }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #130400;
    text-align: left;
    padding: 8px;
  }

  #enviar {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	background-color: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
    float: right;
}
  
#enviar:hover {
	background-color: darkorange;
}
#busca-aleatoria {
	width: 10%;
	padding: 15px 0;
	font-size: 18px;
	background-color: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
    float: right;
}