#cont{
    width: 80%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.principal {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
}
.sugestao {
    width: 20%;
    border-radius: 7px;
    margin-bottom: 3%;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.sugestao img {
    border-radius: 7px 7px 0 0;
}
.inner { 
    padding: 7%;
    text-align: center;
}

.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
    
}
.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
    text-align: center;
}
#aleatoria{
    font-size: 1.5em;
    font-weight: 700;
}
#cat{
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.sugestao p{
    text-align: center;
}

.busca {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 4%;
}

.cards {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
border-radius: 7px;
font-size: 1.2em;
padding: 2%;
margin-bottom: 3%;
line-height: 1.5em; 
}

.cards h3 {
font-weight: 700;
margin-bottom: 3%;
}

#buscar {
background-color: coral;
width: 70%;
}
#b-aleatoria {
    width: 25%;
    background-color: yellow;
}

#b-aleatoria img {
    border-radius: 7px;
}

#form-busca {
    padding: 1%;
}

.form-group input {
    border-radius: 5px;
    margin: 1%;
    padding-left: 1%;
    line-height: 1.5em; 
}

.form-group label {
    font-weight: 400;
}

#name{
    width: 89%;
}

#ingredient{
    width: 82%;
}
#comments{
    width: 80%;
}

.f-input{
    padding-left: 1%;
    line-height: 1.5em; 
}

#typeCode{
    width: 15%;
}

#categoryCode{
    width: 30%;
}

.form-group select {
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0.7%;
    padding: 3px;
    }

.checkbox {
        display: inline-flex;
        justify-content: space-between;
        margin: 0.7%;
}

#b-aleatoria{
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    border-radius: 7px;
    font-size: 1.2em;
    padding: 2%;
    margin-bottom: 3%;
    line-height: 1.5em;
}

#b-aleatoria img{
    border-radius: 7px;
}


#resultado {
    background-color:greenyellow;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    }

table {
    border-collapse: collapse;
    width: 100%;
    padding: 8px 8px;
    text-align: left;
    vertical-align: top;
    border-radius: 1em;
    overflow: hidden;
  }

  table tr:nth-child(odd) {
    background-color: #fff;
}

  td, th {
    border: 1px solid #dee2e6;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: 700;
    text-align: -internal-center;
}
tbody tr:hover{
    color:blue;
}

  #enviar {
	width: 25%;
	padding: 15px 0;
	font-size: 18px;
	background-color: orange;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
    float: right;
    margin-bottom: 2.5%;
}
  
#enviar:hover {
	background-color: darkorange;
}
#busca-aleatoria {
	width: 100%;
	padding: 15px 0;
	font-size: 18px;
	background-color: forestgreen;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
}

#bs-aleatoria{
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3px;
}