#paper{
    width: 100%;
    background-color: rgb(242, 102, 143);
}

#cont{
    width: 80%;
    background-color: rgb(242, 102, 143);
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}

.principal {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
}
.sugestao {
    width: 20%;
    border-radius: 7px;
    margin-bottom: 3%;
    margin: auto;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.sugestao img {
    border-radius: 7px 7px 0 0;
}
.inner { 
    padding: 7%;
    text-align: center;
}

.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
    
}
.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
    text-align: center;
}
#aleatoria{
    font-size: 1.5em;
    font-weight: 700;
}
#cat{
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}
.sugestao p{
    text-align: center;
}

.busca {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 4%;
}

.cards {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
border-radius: 7px;
font-size: 1.2em;
padding: 2%;
margin-bottom: 3%;
line-height: 1.5em; 
}

.cards h3 {
font-weight: 700;
margin-bottom: 3%;
}

#buscar {
background-color: #87CEFA;
width: 70%;
height: 70%;
}
#b-aleatoria {
    width: 25%;
    background-color: #7CDBD5;
    height: 70%;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    border-radius: 7px;
    font-size: 1.2em;
    padding: 2%;
    margin-bottom: 3%;
    line-height: 1.5em;
}

#b-aleatoria img {
    border-radius: 7px;
    margin-top: 5%;
    cursor: pointer;
    backface-visibility: hidden;
}
#b-aleatoria :hover img{
    opacity: 0.3;
}
#b-aleatoria:hover .middle {
    opacity: 1;
}

.text {
    background-color: #f7d24e;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-weight: 550;
    border-radius: 5px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 98%;
    left: 77%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#bs-aleatoria{
    width: 100%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 3%;
    padding: 3px;
}

#form-busca {
    padding: 1%;
}

.form-group input {
    border-radius: 5px;
    margin: 1%;
    padding-left: 1%;
    line-height: 1.5em; 
}

.form-group label {
    font-size: 16px;
    font-weight: 520;
    display: flex;
}

#name{
    width: 100%;
}

#ingredient{
    width: 100%;
}
#comments{
    width: 100%;
}

.f-input{
    padding-left: 1%;
    line-height: 1.5em; 
    width: 32%;
}

#typeCode{
    width: 15%;
}

#categoryCode{
    width: 30%;
}

.form-group select {
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0.7%;
    padding: 3px;
}

.form-group{
        display: flex;
        justify-content: space-between;
}
.form-group-ck{
    display: inline-flex;
    justify-content: space-between;
    margin: 0.7%;
}

.checkbox, .radio {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}

.form-group-ck input{
    margin-top: 15px;
}


#resultado {
    background-color:#5cd1ec;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    }

table {
    border-collapse: collapse;
    width: 100%;
    padding: 8px 8px;
    text-align: left;
    vertical-align: top;
    border-radius: 1em;
    overflow: hidden;
  }

  table tr:nth-child(odd) {
    background-color: #fff;
}

  td, th {
    border: 1px solid #dee2e6;
    text-align: left;
    padding: 8px;
    font-weight: 450;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: 700;
    text-align: -internal-center;
}
tbody tr:hover{
    color:rgb(252,56,156);
}

  #enviar {
	width: 25%;
	padding: 15px 0;
	font-size: 18px;
	background-color: #f7d24e;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.295);
    float: right;
    margin-bottom: 2.5%;
}
  
#enviar:hover {
	background-color: darkorange;
}
a{
    text-decoration: none;
}
.sugestao :hover{
    color:rgb(252,56,156);
}

