<header class="cabecalho container">
  <a href="#">
    <h1 class="logo">My Recipes</h1>
  </a>

  <nav class="menu">
      <ul>
        <li><a href="http://localhost:4200/receitas/home"> Home</a></li>
        <li><a href="http://localhost:4200/receitas/cadastrar">Cadastrar Receita</a></li>
        <li><a href="http://localhost:4200/receitas/favoritas">Favoritas</a></li>
        <li><a href="#">Gerenciar Receitas</a></li>
        <li><a href="#">Gerenciar Ingredientes</a></li>
      </ul>
    </nav>

</header>
<router-outlet></router-outlet>