<!-- Modal -->
<div class="modal fade" 
id="modalRecipe" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalCenterTitle">{{receiveRecipe.name}}</h3>
      </div>
      <div class="modal-body">
        <div class="general">
          <p>Categoria: {{categoryDescription}}</p>
          <p>Tipo de preparo: {{prepareType}}</p>
          <p>Tempo de preparo: {{receiveRecipe.preparationTime}} </p>
          <p>Testada: {{testedRecipe}}</p>
          <p>Favorita: {{favoriteRecipe}} </p>
        </div>
        <div class="ingredients">
          <h4>Ingredientes:</h4>
          <table>
              <tr *ngFor='let d of detailsRecipe'> 
                <td>{{d.quantity}}</td>
                <td>{{d.ingredient.name}}</td>
              </tr>
          </table>
        </div>
        <div class="method-preparation">
          <h4>Modo de preparo:</h4>
          <p> {{receiveRecipe.methodOfPreparation}} </p>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

