<div id="conteiner">
    <h3>Editar receita</h3>
    <form #recipeForm="ngForm" novalidate>
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="recipe.name" required>
            <div class="line-1">
                <div class="form-group-line">
                    <label for="codeType">Tipo</label>
                    <select id="codeType" class="form-control" name="codeType" [(ngModel)]="recipe.type.code">
                        <option *ngFor="let t of types" value={{t.code}}>
                            {{t.type}}
                        </option>
                    </select>
                </div>
                <div class="form-group-line">
                    <label for="codeCategory">Categoria</label>
                    <select id="codeCategory" class="form-control" name="codeCategory" [(ngModel)]="recipe.category.code">
                        <option *ngFor="let c of categories" value={{c.code}}>
                            {{c.description}}
                        </option>
                    </select>
                </div>
                <div class="form-group-line">
                    <label for="prepareTypeCode">Tipo de preparo</label>
                    <select id="prepareTypeCode" class="form-control" name="prepareTypeCode" [(ngModel)]="recipe.prepareType.code">
                        <option *ngFor="let tp of prepareTypes" value={{tp.code}}>
                            {{tp.prepareType}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="line-2">
                <div class="form-col">
                    <div class="form-group-line-2">
                        <label for="preparationTime">Tempo de preparo</label>
                        <input type="text" class="form-control" id="preparationTime" name="preparationTime"
                            [(ngModel)]="recipe.preparationTime" required>
                    </div>
                    <div class="form-group-line-2">
                        <label for="comments">Observações</label>
                        <input type="text" class="form-control" id="comments" name="comments" [(ngModel)]="recipe.comments">
                    </div>
                </div>
                <div class="form-col-2">
                    <div class="form-check">
                        <label class="form-check-label" for="tested">
                            Testada
                        </label>
                        <input class="form-check-input" type="checkbox" name="tested" [(ngModel)]="recipe.tested">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="favorite">
                            Favorita
                        </label>
                        <input class="form-check-input" type="checkbox" name="favorite" [(ngModel)]="recipe.favorite">
                    </div>
                </div>
            </div>
            <div class="form-group-textarea">
                <label for="ingredients">Ingredientes</label>
                <textarea class="form-control" id="ingredients" rows="5" name="ingredients"
                    [(ngModel)]="recipe.ingredients" required></textarea>
            </div>
            <div class="form-group-textarea">
                <label for="methodOfPreparation">Modo de Preparo</label>
                <textarea class="form-control" id="methodOfPreparation" rows="5" name="methodOfPreparation"
                    [(ngModel)]="recipe.methodOfPreparation" required></textarea>
            </div>
            <button type="submit" class="btn btn-success" id="btn-update"
            (click)="updateRecipe()">Atualizar</button>

        </div>
    </form>
</div>
