<main class="principal container">
    <article class="sugestao">
        <a href="#"><img src="assets/img/principal.png" alt="Prato Principal" ></a>
        <div class="inner">
            <a href="#"> {{mainRecipe.name}}</a>
            <h4>{{mainRecipe.category.description}}</h4>
        </div>
    </article>
    <article class="sugestao">
        <a href="#"><img src="assets/img/carne.png" alt="Carne" ></a>
        <div class="inner">
            <a href="#">{{meatRecipe.name}}</a>
            <h4>{{meatRecipe.category.description}}</h4>
        </div>
    </article>
    <article class="sugestao">
        <a href="#"><img src="assets/img/sobremesa.png" alt="Sobremesa" ></a>
        <div class="inner">
            <a href="#">{{dessertRecipe.name}}</a>
            <h4>{{dessertRecipe.category.description}}</h4>
        </div>
    </article>
    <article class="sugestao">
        <a href="#"><img src="assets/img/random.png" alt="Busca aleatória" ></a>
        <div class="inner">
            <a href="#">{{saladRecipe.name}}</a>
            <h4>{{saladRecipe.category.description}}</h4>
        </div>
    </article>
</main>

<div class="busca">
    <article class="cards"   id="buscar">
        <h3>Buscar:</h3>
        <form #formFindRecipe="ngForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="name" id="name" [(ngModel)]="filter.name">
                <label for="ingred">Ingrediente</label>
                <input type="text" name="ingredient" id="ingredient" [(ngModel)]="filter.ingredient">
                <label for="obs">Observações</label>
                <input type="text" name="comments" id="comments" [(ngModel)]="filter.comments">
            </div>
            <div class="form-group">
                <select name="s-tipo" id="typeCode" [(ngModel)]="filter.typeCode">
                    <option value="0">Tipo</option>
                    <option *ngFor="let t of types" value={{t.code}}>
                        {{t.type}}
                    </option>
                </select>
                <select name="s-categoria" id="categoryCode" [(ngModel)]="filter.categoryCode">
                    <option value="0">Categoria</option>
                    <option *ngFor="let c of categories" value={{c.code}}>
                        {{c.description}}
                    </option>
                </select>
                <select name="s-tipo-prep" id="prepareTypeCode" [(ngModel)]="filter.prepareTypeCode">
                    <option value="0">Tipo de preparo</option>
                    <option *ngFor="let tp of prepareTypes" value={{tp.code}}>
                        {{tp.prepareType}}
                    </option>
                </select>
                <select name="s-tempo-prep" id="preparationTime" [(ngModel)]="filter.preparationTime">
                    <option value="">Tempo de preparo</option>
                    <option *ngFor="let tmp of preparationTime" value={{tmp}} >
                        {{tmp}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" 
                    name="tested"
                    [(ngModel)]="filter.tested">
                    Testada
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="favorite"
                    [(ngModel)]="filter.favorite">
                    Favorita</label>
            </div>
            <div>
                <input id="enviar" type="submit" value="Buscar" (click)="findRecipesByFilter()">
            </div>
        </form>

            <p id="aleatoria">Busca aleatória</p>
            <form action="">
                <select name="categoria" id="b-aleatoria" [(ngModel)]="categorySelected" > 
                    <option *ngFor="let c of categories" [value]="c.code" >
                        {{c.description}}
                    </option>
                </select> 
                <div>
                    <input id="busca-aleatoria" type="submit" value="Buscar" (click)="randomSearchRecipe()">
                </div>
            </form>     
    </article>
</div>
<article class="cards" id="resultado">
    <h3>Receitas:</h3>
    <table>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Tempo de Preparo</th>
        </tr>
        <tr *ngFor="let r of recipes"> 
          <td>{{r.name}}</td>
          <td>{{r.category.description}}</td>
          <td>{{r.preparationTime}}</td>
        </tr>
      </table>

</article>


