<h3>Cadastrar receita</h3>
<br>
<form #recipeForm="ngForm" novalidate> 
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="recipe.name" required>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="codeType">Tipo</label>
        <select id="codeType" class="form-control" name="codeType" [(ngModel)]="type.code">
            <option *ngFor="let t of types" value={{t.code}} >
                {{t.type}}
            </option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <label for="codeCategory">Categoria</label>
        <select id="codeCategory" class="form-control"
        name="codeCategory" [(ngModel)]="category.code" >
          <option *ngFor="let c of categories" value={{c.code}}>
            {{c.description}}
        </option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="prepareTypeCode">Tipo de preparo</label>
        <select id="prepareTypeCode" class="form-control"
        name="prepareTypeCode" [(ngModel)]="prepareType.code" >
            <option *ngFor="let tp of prepareTypes" value={{tp.code}}>
                {{tp.prepareType}}
            </option>
          </select>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="preparationTime">Tempo de preparo</label>
            <input type="text" class="form-control" id="preparationTime" name="preparationTime" [(ngModel)]="recipe.preparationTime" required>
        </div>
        <div class="form-group col-md-4">
            <label for="comments">Observações</label>
            <input type="text" class="form-control" id="comments" name="comments"
            [(ngModel)]="recipe.comments">
        </div>
        <div class="form-group col-md-2">
            <div class="form-check" >
                <input class="form-check-input" type="checkbox" name="tested"
                [(ngModel)]="recipe.tested">
                <label class="form-check-label" for="tested">
                  Testada
                </label>
              </div>
        </div>
        <div class="form-group col-md-2">
            <div class="form-check" >
                <input class="form-check-input" type="checkbox" name="favorite"
                [(ngModel)]="recipe.favorite">
                <label class="form-check-label" for="favorite">
                  Favorita
                </label>
              </div>
        </div>
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredientes</label>
        <textarea class="form-control" id="ingredients" rows="5" name="ingredients"
        [(ngModel)]="recipe.ingredients" required></textarea>
      </div>
      <div class="form-group">
        <label for="methodOfPreparation">Modo de Preparo</label>
        <textarea class="form-control" id="methodOfPreparation" rows="5" name="methodOfPreparation"
        [(ngModel)]="recipe.methodOfPreparation" required></textarea>
      </div>
  </div>
    <div class="form-group col-md-12">
      <button type="submit" class="btn btn-success" 
      (click)="insert(recipeForm)">Cadastrar</button>
    </div>
</form>

