<article class="cards" id="resultado">
    <h3>Ingredientes:</h3>
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let i of listIngredients">
                <td>{{i.name}}</td>
                <td>
                    <input type="submit" value="Editar" class="btn btn-primary"
                    >
                </td>
                <td>
                    <input type="submit" value="Excluir" class="btn btn-danger">
                </td>
            </tr>
        </tbody>
    </table>
</article>
